{% extends "base.html" %}
{% block content %}
<div class="men">
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady17.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lehenga</h5>
    <p class="card-text">Good quality beautiful Lehanga<br><b>ITEM ID: 21</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">RS.1499</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady2.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lehenga</h5>
    <p class="card-text">Beautiful Pink Lehenga<br><b>ITEM ID: 22</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.999</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady4.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Churidhar</h5>
    <p class="card-text">Light Brown churidhar  <br><b>ITEM ID: 23</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.1100</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady3.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lehanga</h5>
    <p class="card-text">White & Red Lehenga<br><b>ITEM ID: 24</b></p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.1330</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady5.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lacha</h5>
    <p class="card-text">Attractive blue Lacha <br><b>ITEM ID: 25</b></p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.2650</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady6.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Kanchipuram Sari</h5>
    <p class="card-text">Beautiful Kanchipuram sari<br><b>ITEM ID: 26</b></p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.2650</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady7.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Sari</h5>
    <p class="card-text">Beautiful Black sari<br><b>ITEM ID: 27</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.1999</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady8.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Rose Skirt</h5>
<p class="card-text">Beautiful Rose skirt <br><b>ITEM ID: 28</b> </p>
 <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.1480</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady9.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Full Frock</h5>
<p class="card-text"> Brown full frock<br><b>ITEM ID: 29</b> </p>
<a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.2480</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady10.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Blue Lehenga</h5>
<p class="card-text">Blue Lehenga with good quality<br><b>ITEM ID: 30</b> </p>
<a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.1599</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady11.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Red Dhawani</h5>
<p class="card-text">Beautiful Red Dhawani <br><b>ITEM ID: 31</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.2480</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady12.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Yellow Dhawani</h5>
<p class="card-text"> Attractive Dhawani<br><b>ITEM ID: 32</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.2540</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady13.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lacha</h5>
<p class="card-text"> Good quality Lacha<br><b>ITEM ID: 33</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.2499</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady14.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lehenga</h5>
<p class="card-text">Lehanga with good design <br><b>ITEM ID: 34</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.1399</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady15.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lacha</h5>
<p class="card-text">Black beautiful Lacha <br><b>ITEM ID: 35</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.999</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='lady16.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Dhawani</h5>
<p class="card-text"> Red & White Dhawani <br><b>ITEM ID: 36</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.3870</a>
  </div>
</div>
</div>

</div>

{% endblock %}
