{% extends "base.html" %}
{% block content %}
<div class="men">
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men8.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Allen Solly Checks Shirt</h5>
    <p class="card-text">Good quality check shirt <br><b>ITEM ID: 1</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">RS.499</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men7.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lacoste T-shirts</h5>
    <p class="card-text">Fabric-cotton T-shirts <br><b>ITEM ID: 2</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.350</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men6.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tommy Plain</h5>
    <p class="card-text">10A quality shirt <br><b>ITEM ID: 3</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.650</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men5.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tommy Plain</h5>
    <p class="card-text">10A quality shirt<br><b>ITEM ID: 4</b></p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.650</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men4.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tommy Plain</h5>
    <p class="card-text">10A quality shirt<br><b>ITEM ID: 5</b></p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.650</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men3.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Tommy Plain</h5>
    <p class="card-text">10A quality shirt<br><b>ITEM ID: 6</b></p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.650</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men2.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Superdry T-Shirt</h5>
    <p class="card-text">7A quality shirt, Lycra cotton fabric<br><b>ITEM ID: 7</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.550</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men1.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Puma Logo T-shirt</h5>
<p class="card-text">Logo reflects light & shines <br><b>ITEM ID: 8</b> </p>
 <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.480</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men10.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">NIKE Half Sleeves T-shirt</h5>
<p class="card-text"> 100% cotton fabric <br><b>ITEM ID: 9</b> </p>
<a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.480</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men17.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">US POLO Check Shirt</h5>
<p class="card-text">Good quality 100% cotton fabric<br><b>ITEM ID: 10</b> </p>
<a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.599</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men11.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Abercromble & Fitch Shirt</h5>
<p class="card-text">Fabric 100% cotton <br><b>ITEM ID: 11</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.480</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men12.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Hollister Check</h5>
<p class="card-text"> Fabric 100% cotton <br><b>ITEM ID: 12</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.540</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men13.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Levis Shirt</h5>
<p class="card-text"> Full sleeve check shirt <br><b>ITEM ID: 13</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.499</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men14.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Under Armour T-shirt</h5>
<p class="card-text"> Good quality t-shirt <br><b>ITEM ID: 14</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.399</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men15.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lacoste T-shirts</h5>
<p class="card-text">Good quality fabriccotton <br><b>ITEM ID: 15</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.399</a>
  </div>
</div>
</div>
<div class="submen">
<div class="card" style="width: 18rem;">
  <img src="{{url_for('static',filename='men16.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Being Human Jeans</h5>
<p class="card-text"> Very high quality <br><b>ITEM ID: 16</b> </p>
    <a href="{{url_for('formfill')}}" class="btn btn-primary">Rs.870</a>
  </div>
</div>
</div>

</div>

{% endblock %}
