{% extends "base.html" %}
{% block content %}
<div>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <center>{{ message }}</center>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  {% endfor %}
{% endif %}
{% endwith %}
</div>
<br>
      <form role="form"  method="post">
        {{ form.csrf }}
        <center>
      <h1 color="Black">Create Account</h2>
        </center>
        <div class="form-row">
          <div class="form-group col-md-5">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name"> <br>
        </div>
          <div class="form-group col-md-5">
            <label for="ph">Phone Number</label>
            <input type="text" class="form-control" id="ph" name="ph" placeholder="Phone Number"> <br>
            </div>
          <div class="form-group col-md-10">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email Address"> <br>
            </div>
          <div class="form-group col-md-5">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password"> <br>
          </div>
          <div class="form-group col-md-5">
          <label for="pass_confirm">Confirm Password</label>
          <input type="password" class="form-control" id="password" name="pass_confirm" placeholder="Confirm Your Password">
        </div>
      </div>
          <button type="submit" class="btn btn-success">Submit</button>

      </form>

<br>
{% endblock %}
